.navbar *{
  margin:0;
}
.navbar {
  display: flex;
  color:whitesmoke;
  background-color: #1E90FF;
  justify-content: space-between;
  padding:20px;
}
.navbar-link {
  color:whitesmoke;
  font-size: 20px;
}
.container h1{
  margin:10px;
  text-shadow: 1px 1px;
  font-size: 3.6rem;
}
.country-card {
  margin: 23px 0;
  border-radius: 25px;
  padding: 14px;
  background-color: rgba(40, 130, 219, 0.2);
}
.country-card p {
  color:black;
  text-align: center;
  font-size: 22px;
}
.info h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:18px;
  padding: 5px;
  text-shadow: 1px 1px;
}
.info p {
    margin-top: 18px;
    text-align: left;
    font-size: 17px;
    color: black;
}
.info img{
  filter: drop-shadow(2px 3px 3px #666);
  }
.info a{
  color: rgba(33, 150, 243, 0.61);
  text-decoration: none;
  float: right;
  font-size: 25px;
}