.navbar{
  display: flex;
  color:whitesmoke;
  background-color: #1E90FF;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding:25px;
}
.navbar-link {
  color:whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}
.navbar *{
  margin:0;
}
p{

    margin-top: 0;
    text-align: center;
    font-size: 30px;
    color: black;
}
.country-card{
  margin: 23px 0;
  border-radius: 25px;
  padding: 14px;
  background-color: rgba(40, 130, 219, 0.2);
}
.container p{
  justify-content: left;
}